// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // generics
  
  body {
    font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  