footer {
    height: 520px;

    .top {
        height: 120px;
        background-color: #0C7CEC;
        position: relative;
    
        .container {
            display: flex;
            justify-content: space-between;
        }
    
        .card {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #fcfcfc;
            font-size: 0.8rem;
    
            img {
                width: 30px;
                margin-right: 10px;
            }
        }
    
    }
    
    .middle {
        height: 300px;
        background-image: url(../images/footer-bg.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;


            nav {
                color:#fcfcfc;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .col {
                    margin: 10px 10px;
                }

                p {
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                a {
                    font-size: 0.8rem;
                    color: #808080;
                }
            }

            .big-logo {
                width: 450px;
            }
        }
    }

    .bottom {
        height: 100px;
        background-image: linear-gradient(#303030 90px, #000000 90px);
        position: relative;

        nav {
        padding-bottom: 10px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;    

            button {
                background-color: transparent;
                border: 2px solid $primary-blue;
                color: #fcfcfc;
                font-weight: bold;
                padding: 10px;
                cursor: pointer;
            }
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    margin: 0 10px;

                    .follow {
                        font-weight: bold;
                        color: $primary-blue;
                    }
                }
            }
        }
    }      
}
