header {
    nav {
      height: 100px;
      background-image: linear-gradient($primary-blue 10px, #fcfcfc 10px);
      padding-top: 40px;

       .container{
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;  
          
        .logo {
          width: 60px;
          padding-bottom: 30px;

        }

        .links {  
        height: 100%; 

          ul {
            height: 100%;
            display: flex;
              li {
                height: 100%;
                font-weight: bold;
                margin: 0 10px;

                &.active {
                border-bottom: 5px solid $primary-blue;
                }

                a {
                  vertical-align: middle;
                  color: #000000;
                  padding: 5px;

                  &:hover {
                    color:$primary-blue;
                  }
                }
              }
          }
        } 
      } 
    }
   
   
   .jumbotron {
        height: 300px;
        background-image: url(../images/jumbotron.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
  
}  
  